.block {
  width: 200px;
  height: 40px;
  cursor: pointer;
  margin: 2px 0;
  border: 3px dotted black;
}

.unclickedblock {
  background-color: grey;
}

.clickedBlock {
  background-color: green;
}
