.wordCont {
    grid-area: word;
    background-color: whitesmoke;
    padding: 20px;
    padding-right: 0;
    width: 87%;
    height: 70%;
    overflow: scroll;
}

.wordCont>p{
    margin-top: -10px;
    overflow: scroll;
}

.button{
    background: none;
    border: none;
    position: relative;
    right: -83%;
    top: -7px;
    cursor: pointer;
}

.button:focus {
    outline: none;
    box-shadow: none;
  }

.copied{
    color: hsl(201, 98%, 50%);
}

.notCopied{
    color: hsl(201, 98%, 20%);
}