.wordCont {
    background-color: whitesmoke;
    padding: 20px;
    padding-right: 0;
    /* box-shadow: 5px 8px 10px 10px rgba(199, 198, 198, 0.25); */
    width: 87%;
    height: auto;
    min-height: 140px;
}

.button{
    background: none;
    border: none;
    position: relative;
    right: -83%;
    top: 30px;
    cursor: pointer;
}

.button:focus {
    outline: none;
    box-shadow: none;
  }

.copied{
    color: hsl(201, 98%, 50%);
}

.notCopied{
    color: hsl(201, 98%, 20%);
}