.mainCont{
    display: grid;
    grid-template-areas: 
    "time day"
    "time word";
    /* word grid area is in Words css */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(0, 150px) minmax(0, 335px);
    padding: 20px 5px 0 10px;
}

.timeCont{
    grid-area: time;
    padding-top: 5px;
    padding-left: 45px;
}

.dayCont{
    grid-area: day;
}

.topBar{
    background-color: hsl(201, 98%, 30%);
    color: white;
    padding: 5px 5% 10px 5%;
    width: 90%;
    height: 19px;
    overflow: hidden;
}

.topBar p{
    margin: 0;
    padding: 0;
    font-size: 20px;
}